admin_ssh_key = "{{ admin_ssh_key }}"
yc_token = "{{ yc_token }}"
yc_id = "{{ yc_id }}"
yc_folder_id = "{{ yc_folder_id }}"
db_name = "{{ db_name }}"
db_user = "{{ db_user }}"
db_password = "{{ db_password }}"
